* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--primary-color);
}


:root {
    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);

    --primary-color: hsl(0, 0%, 95%);
    --secondary-color: hsl(0, 0%, 70%);

    --danger: hsl(0, 70%, 50%);
    --warning: hsl(60, 70%, 50%);
    --success: hsl(120, 70%, 50%);
    --info: hsl(170, 70%, 50%);

    --border-width: 1px;
    --border-style: solid;
    --border-color: hsl(0, 0%, 40%);
    --default-radius: .5rem;
    --circle: 50%;
    --border: var(--border-width) var(--border-style) var(--border-color);
}